body,div,td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    word-wrap: break-word;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.navigation {
	margin: 10px 0;
}

fieldset {
	margin-bottom: 15px;
	padding: 20px 10px;
} 

.gridFunc {
	float: left;
	width: 400px;
}

.primariKey {
	display: none;
}

.clear {
	clear: both;
}

.buttomLimpar {
	float: left;
	margin: -71px 0px 0px 90px;
}

/* .relatorioMensal {
	width: 865px;
	height: 500px;
	overflow: scroll;	
} */

div.relatorioMensal .ui-datatable table {
	table-layout: inherit !important;
}

div.relatorioMensal td, div.relatorioMensal th {
	min-width: 70px !important;
}

div.relatorioMensal .first {
	min-width: 250px !important;
}

div.relatorioMensal ui-datatable-scrollable-header-box {
	width: 6000px;
}

.ui-datatable table {
    border-collapse: collapse;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
/* body,div,td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    word-wrap: break-word;
}

body {
    background-color: #fff;
    text-align: left;
}

a img {
    border: 0 none;
    vertical-align: middle;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #456314;
}

a:active {
    color: #7db223;
}

a:visited {
    color: #7db223;
}

.wrapper {
    width: 1024px;
    min-width: 1024px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto; fix max-width incompatibility in IE6
    width: expression(document.body.clientWidth > 1024 ? "1024px" : "auto");
    overflow: hidden;
    display: block;
}

.menu {
    width: 230px;
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
    word-wrap: break-word;
}

.content {
    width: 770px;
    height: auto;
    vertical-align: top;
    text-align: left;
}

.banner {
    margin-bottom:5px;
}

.action-column {
    text-align: center;
    width: 120px !important;
}

.ui-selectmanymenu {
    width: 155px !important;
    height: 100px !important;
}

.dialog {
    width: auto;
}

.col1 {
    vertical-align: top;
    font-weight: bold;
}

.col2 {
    vertical-align: top;
}

.col3 {
    vertical-align: top;
} */